<h2>Rails Stupid Coaching</h2>

<h3><em>You asked:</em></h3>
<h4> <%= @question %></h4>

<h3><em>Your coach answered:</em></h3>
<h4> <strong><%= @answer %></strong></h4>

<p><%= link_to 'Ask another question', ask_path %></p>
<p><%= link_to 'Return to homepage', root_path %></p>
